

<!DOCTYPE HTML>

<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="edit.js"></script>

<html xmlns:th="http://www.thymeleaf.org">



<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <label>编号:</label> <input id="caseid"></input>
</body>
<body>
    <p th:text="'Hello, ' + qs.cid + '!'" />
</body>


<button id='save'>保存</button>
</html>