

<html>

<head>
	<script src="/js/jquery-latest-min.js"></script>
	<script src="/js/bootstrap-min.js"></script>
	<script src="/js/editjson.js"></script>
	
 	<link href="/css/bootstrap.css" rel="stylesheet" />
 	<link href="/css/bootstrap-theme.css" rel="stylesheet" />
</head>

<div>
	<label>当前登录用户:</label><label id="curUserId"></label>
	<br />
</div>

<form class="form-horizontal" id="jsonForm" role="form">
	<label>json模板ID:</label><label id="jsonId"></label>
	<br />
	<br />
	<button id='edit' class="btn btn-primary">编辑</button>
	<button id='save' class="btn btn-primary">保存</button>
	<a href="http://www.bejson.com/" target="_blank">json格式在线校验</a>
	<br />
	<div id="template_edit" >
		<textarea id='jsonText'  style="margin: 0px; height: 800px; width: 1200px;display:none; resize: horizontal"></textarea>
		<pre id='jsonPre' style="margin: 0px; height: 800px; width: 1200px;"></pre>
	</div>
	
	

</form>



</html>